*{
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body {
    background-color: #f6b26bff;
}

/* OPEN ANIMATION */
.startText {
    text-shadow: 1vw 1vw rgb(0 0 0 / 43%);
    font-size: 16vw;
    font-weight: 600;
    margin-left: 6vw;
}
.startTextConteiner {
    position: absolute;
    top: 1vh;
    width: 100vw;
    text-align: center;
    height: auto;
}
.smallerText {
    font-size: 13vw;
}
#word1{
    visibility: hidden;
}
#word2{
    visibility: hidden;
}
#word3{
    visibility: hidden;
}
#word4{
    visibility: hidden;
}
#word5{
    visibility: hidden;
}
#word6{
    visibility: hidden;
}
#word7{
    visibility: hidden;
}
.handasaSymbol {
    width: 63vw;
    height: 24vh;
}

/* BUTTON */
#btn-start {
    visibility: hidden;
}
.btn {
    width: 30vw;
    height: 6vh;
    position: absolute;
    bottom: 6vh;
    right: 35vw;
    font-size: 10vw;
    text-align: center;
    border: 0.1vw solid black;
    box-shadow: 1.1vw 1.1vw #00000052;
    z-index: 10;
}
.btnSmaller {
    font-size: 5vw;
    line-height: 3vh;
}

/* RIGHTS */
#rights {
    display: none;
}
#lesson-right {
    display: none;
}
.title {
    text-shadow: 0.5vw 0.5vw rgb(0 0 0 / 43%);
    font-size: 10vw;
    width: 100vw;
    text-align: center;
    height: auto;
}
.secondTitle {
    font-size: 7vw;
}
.rightsConteiner {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 15vh;
    width: 42vw;
    height: 62vh;
    right: 28vw;
}
.rightImg {
    width: 39vw;
    height: 10vh;
    margin-top: 2vh;
}
.bandaidConteiner {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 15vh;
    width: 42vw;
    height: 62vh;
    right: 28vw;
}
.bandaid {
    width: 43vw;
    height: 9vh;
}
#black-conteiner {
    display: none;
}
.blackConteiner {
    background-color: rgba(0, 0, 0, 0.247);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0vh;
    right: 0vh;
    z-index: 11;
}
.rightTextConteiner {
    width: 80vw;
    height: auto;
    position: absolute;
    top: 18vh;
    right: 10vw;
    background-color: #96b9d9ff;
    border: 0.1vw solid rgb(78, 78, 78);
    border-radius: 11vw;
}
.close {
    width: 10vw;
    height: 8vh;
    position: absolute;
    top: 1vh;
    left: 2vw;
}
.titleBendaid {
    font-size: 7vw;
    width: 100%;
    margin-top: 2vh;
    line-height: 4vh;
}
.textBendaid {
    font-size: 6vw; 
    text-align: center;
    width: 100%;
    margin-top: 1vh;
}
.alert {
    width: 90vw;
    height: 30vh;
    position: absolute;
    top: 48vh;
    right: 5vw;
}
.alertImg {
    background-image: url("alert.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 17vw;
    height: 12vh;
    position: absolute;
    top: 1vh;
    right: 1vw;
}
.textAlert {
    font-size: 6vw;
    text-align: right;
    width: 80vw;
    position: absolute;
    right: 8vw;
    top: 3vh;
    font-weight: 400;
}
.textRight {
    font-size: 6vw;
    text-align: center;
    width: 80vw;
    position: absolute;
    right: 10vw;
    top: 14vh;
}